
/* 1. Quitar morado de link */
a, a:visited, a:hover, a:active {
    text-decoration: none !important;
    color: inherit !important;
}

/* 2. Estado Activo (Café fuerte) */
.active-cafe {
    background-color: #6F4E37 !important;
    color: #ffffff !important;
}

.active-cafe span {
    color: #ffffff !important;
}

/* Sobrescribir las variables de PrimeUI para este componente */
:host ::ng-deep {
    --p-menu-item-focus-background: #D2B48C !important; /* Fondo café claro al enfocar/hover */
    --p-menu-item-focus-color: #4B3621 !important;      /* Texto café oscuro */
    
    /* Esto quita el azul cuando pasas el mouse */
    --p-menu-item-content-hover-background: #D2B48C !important;
    --p-menu-item-content-hover-color: #4B3621 !important;
}

::ng-deep .btn-logout span {
    color: #ff5252 !important;
}
::ng-deep .btn-logout:hover {
    background-color: rgba(82, 0, 0, 0.795) !important;
    
}

/* Seleccionamos el último grupo (Administrador) y lo empujamos al fondo */
::ng-deep .p-menu-item:last-child {
    margin-top: auto !important;
}